ENVIRONMENT="YOUR ENVIRONMENT"

# Postgres
DB_DRIVER=postgresql+asyncpg
DB_USER=your user
DB_PASSWORD=your password
DB_HOST=your host
DB_PORT=your port
DB_NAME=your db name


#JWT
SECRET_KEY = your secret key
ALGORITHM = your algorithm


#Redis
REDIS_HOST = your host
REDIS_PORT = your port


#Grafana
GF_SECURITY_ADMIN_USER=your user
GF_SECURITY_ADMIN_PASSWORD=your password


#RabbitMQ
RABBITMQ_DEFAULT_USER=your user
RABBITMQ_DEFAULT_PASS=your password
RABBITMQ_DEFAULT_HOST=your host
RABBITMQ_DEFAULT_PORT=your port

#MailDEV
MailDEV_HOST=your host


#Admin
authentication_backend_secret_key=your secret key
